<header class="header" *ngIf="authService.currentUser">
    <div class="container-header-img">
        <div class="container-header-img">
            <img *ngIf="!(screenWidth <= 1000 && !globalVariable.openWorkspace)" src="assets/img/logo/logo-main.png">
            <div class="code-learning" *ngIf="screenWidth <= 1000 && !globalVariable.openWorkspace" (click)="openWorkspaceResponsiv()">
                <mat-icon>navigate_before</mat-icon>
                <img src="assets/img/logo/logo-channel.png">
                <h3>Code Learning</h3>
            </div>
        </div>
    </div>

    <app-search-bar [items$]="items$" [placeholder]="'Code Learning durchsuchen'"></app-search-bar>

    <div id="profile" [matMenuTriggerFor]="menu">
        <span id="name">{{authService.currentUser.name}}</span>
        <div class="center pointer" id="dot">
            <div class="profile-image">
                <img [src]="authService.currentUser.avatarUrl || './assets/img/avatar/avatar0.png'" class="profile-img">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8.66683" cy="8.66683" r="7.33333" fill="#92C83E" stroke="#ECEEFE" stroke-width="2"/>
                </svg>
            </div>
            <mat-icon>
                <span>keyboard_arrow_down</span>
            </mat-icon>
            <mat-menu #menu="matMenu">
                <span (click)="openProfileMenu()" mat-menu-item>Profil</span>
                <span (click)="logout()" mat-menu-item>Log out</span>
            </mat-menu>
        </div>
    </div>
</header>