.workspace {
  position: relative;
  left: 20px;
  width: 366px;
  height: calc(87vh - 65px);
    @media (max-width:1000px) {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      width: unset;
      height: unset;
    }

}

app-search-bar {
  width: 100%;

  @media (min-width: 1000px) {
      display: none;
  }
}

.svg-icon-wrapper {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #eceefe;
  }

  .svg-icons {
    height: 32px !important;
    width: 32px !important;
    display: block;
    border-radius: 50%;
    padding: 8px;
    filter: grayscale(100%);
    transition: background-color 0.3s ease, filter 0.3s ease;
    cursor: pointer;

    &:hover {
      filter: invert(33%) sepia(100%) saturate(3000%) hue-rotate(217deg)
        brightness(100%) contrast(97%);
    }
  }
}

.rotated {
  transform: rotate(270deg);
}

.hidden {
  display: none;
}

.workspace-menu {
  background-color: white;
  border-radius: 30px;
  padding: 32px 30px 32px 30px;
  height: 100%;
  header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }

    img {
      height: 48px;
    }
  }

  @media (max-width: 1000px) {
    border-radius: 0;
  }
}

.workspace-table {
  font-family: "Nunito", sans-serif;
  row-gap: 20px;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  ul {
    list-style-type: none !important;
    padding-left: 40px;

    li {
      list-style-type: none !important;
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 20px;
      cursor: pointer;
    }
  }
}

.user-list {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px 5px 10px;
  border-radius: 50px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  &:hover {
    background-color: #eceefe;
  }
  &:active {
    background-color: #eceefe;
  }
  &:focus {
    background-color: #eceefe;
  }
}

.user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.workspace-table ul li::marker {
  content: "";
}

.table-header,
.table-inline {
  display: flex;
  height: 46px;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    h4 {
      color: #535af1;
    }

    img {
      filter: invert(33%) sepia(100%) saturate(3000%) hue-rotate(217deg)
        brightness(100%) contrast(97%);
    }
  }
}

.table-header {
  justify-content: space-between;
  padding-right: 5px;
}

.add-channel {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    color: #535af1;

    img {
      filter: invert(33%) sepia(100%) saturate(3000%) hue-rotate(217deg)
        brightness(100%) contrast(97%);
    }
  }
}

.mat-icon {
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: #535af1;
    background-color: #eceefe;
  }
}

.scrollable-list {
  max-height: 205px;
  overflow-y: auto;
}

.scrollable-contacts {
  max-height: 300px;
  overflow-y: auto;
}