#profileDetails {
    width: 750px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 40px;
    background-color: #fff;
    gap: 20px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 0 30px 30px 30px;

    @media (max-width: 1000px) {
        width: 100%;
        border-radius: 30px;
    }

    @media (max-width: 560px) {
        border-radius: 0;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 560px) {
        box-shadow: 0 6px 6px -2px #00000014;
        padding: 0px 40px 20px;
    }
}

.header-container-content {
    display: flex;
    gap: 15px;

    span {
        font-size: 22px;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }
}

.close-dialog {
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    transition: all ease-in-out 125ms;

    &:hover {
        transition: all ease-in-out 125ms;
        color: #535AF1;
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.input-container {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        padding: 15px 50px;
        border: 1px solid #ADB0D9;
        outline: none;
        border-radius: 30px;
        font-size: 18px;

        &:focus {
            border: 1px solid #535AF1;
        }
    }
}

.input-upper-part-header {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: #535AF1;
        margin: 0;

        &:hover {
            font-weight: 700;
        }
    }
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 25px;

    p {
        position: absolute;
        left: 5%;
        margin: 0;
        font-size: 18px;
    }

    input {
        width: 100%;
    }
}

.upper-part {
    width: 100%;
    height: 80px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-part-header {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: #535AF1;
        margin: 0;

        &:hover {
            font-weight: 700;
        }
    }
}

.upper-part-content {
    display: flex;
    gap: 10px;

    span {
        font-size: 18px;
    }

    p {
        font-size: 19px;
        font-weight: 700;
        margin: 0;
    }
}

.add-button {
    cursor: pointer;
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #444DF2;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    gap: 10px;
    align-self: flex-end;
}

.d-none {
    display: none !important;
}

.lower-part {
    width: 100%;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.lower-part-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    span {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: #535AF1;
        margin: 0;

        &:hover {
            font-weight: 700;
        }
    }
}

.lower-part-channel-name {
    display: flex;
    justify-content: space-between;
}

.lower-part-decription {
    span {
        font-weight: 400;
    }
}


.line {
    border: 1px solid #ADB0D9;
}


.lower-part-author {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        color: #535AF1;
        margin: 0;
    }
}

.lower-part-textarea {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.chanel-description {
    display: flex;
    justify-content: space-between;
}

.input-field-description {
    display: flex;
    align-items: center;
    position: relative;

    input {
        width: 100%;
        padding: 20px;
        border: 1px solid #ADB0D9;
        outline: none;
        border-radius: 30px;
        font-size: 18px;

        &:focus {
            border: 1px solid #535AF1;
        }
    }
}

.user-part {
    width: calc(100vw - 40px);
    border: 1px solid #ADB0D9;
    border-radius: 20px;

    @media (min-width: 560px) {
        display: none;
    }
}

.edit-icon {
    background-color: #D9D9D9;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 560px) {
        display: none;
    }
}

.toggle-p {
    @media (max-width: 560px) {
        display: none;
    }
}