<div id="profileDetails" *ngIf="channelService.selectedChannel">
    <div class="header-container">
        <div class="header-container-content">
            <p>#</p>
            <span>{{channelService.selectedChannel.channelName}}</span>
        </div>
        <mat-icon class="material-symbols-outlined close-dialog" (click)="closeDialog()">
            close
        </mat-icon>
    </div>
    <div class="upper-part" [class.d-none]="displayInput">
        <div class="upper-part-header">
            <span class="channel-name">Channel-Name</span>
            <p (click)="toggleChanelName()">Bearbeiten</p>
        </div>
        <div class="upper-part-content">
            <p>#</p>
            <span>{{channelService.selectedChannel.channelName}}</span>
        </div>
    </div>

    <div class="input-container" [class.d-none]="!displayInput">
        <div class="input-upper-part-header">
            <span>Channel-Name</span>
            <p (click)="updateChannelName()">Speichern</p>
        </div>
        <div class="input-field">
            <p>#</p>
            <input type="text" placeholder="{{channelService.selectedChannel.channelName}}" [(ngModel)]="newChannelName">
        </div>
    </div>

    <div class="lower-part" [class.d-none]="displayTextarea">
        <div class="lower-part-header">
            <div class="lower-part-channel-name">
                <span>Beschreibung</span>
                <p (click)="toggleChanelDescription()">Bearbeiten</p>
            </div>
            <div class="lower-part-decription">
                <span>{{channelService.selectedChannel.channelDescription}}</span>
            </div>
        </div>
        <div class="line"></div>
        <div class="lower-part-author">
            <span>Erstellt von</span>
            <p>{{channelService.selectedChannel.channelCreatedBy}}</p>
        </div>
    </div>

    <div class="lower-part-textarea" [class.d-none]="!displayTextarea">
        <div class="lower-part-header">
            <div class="chanel-description">
                <span>Beschreibung</span>
                <p (click)="updateChannelDescription()">Speichern</p>
            </div>
            <div class="input-field-description">
                <input type="text" placeholder="{{channelService.selectedChannel.channelDescription}}" [(ngModel)]="newChannelDescription">
            </div>
        </div>
        <div class="line"></div>
        <div class="lower-part-author">
            <span>Erstellt von</span>
            <p>{{channelService.selectedChannel.channelCreatedBy}}</p>
        </div>
    </div>
    <button class="add-button" (click)="leaveChanel()">Channel verlassen</button>
</div>