<div id="profileDetails">
    <div class="header-container">
        <span>Leute hinzufügen</span>
        <mat-icon class="material-symbols-outlined close-dialog" (click)="closeDialog()">
            close
        </mat-icon>
    </div>
    <div class="middle-part">
        <p>#</p>
        <span>{{ currentChannel?.channelName }}</span>
    </div>
    <div class="input-container">
        <input type="text" placeholder="Namen eingeben" [formControl]="searchControl"
               [matAutocomplete]="autoComplete">
        <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="onOptionSelected()">
            <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user.name"
                        (onSelectionChange)="selectUser(user)">
                {{ user.name }}
            </mat-option>
        </mat-autocomplete>
    </div>

    <div *ngFor="let user of selectedUsers" class="user-list-selected">
        <img [src]="user.avatarUrl" alt="Avatar von {{ user.name }}">
        <span>{{ user.name }}</span>
    </div>

    <button class="add-button" (click)="addSelectedUsersToChannel()">Hinzufügen</button>
</div>
