<div class="container">
    <mat-icon (click)="reloadPage()" class="arrow">arrow_back</mat-icon>
   <div class="h1-cont"><h1>Passwort zurücksetzten</h1></div>
    <div class="">
        <span>Bitte geben Sie Ihre E-Mail Adresse ein.</span>
        <form (ngSubmit)="onSubmit($event)" [formGroup]="forgotPasswordForm">
            <mat-form-field appearance="outline" class="input-full">
                <mat-label>E-Mail</mat-label>
                <mat-icon matSuffix>mail</mat-icon>
                <input matInput type="email" formControlName="email" #email>
                <mat-error *ngIf="getEmail()?.errors?.['required']">
                    Email ist erforderlich
                </mat-error>
                <mat-error *ngIf="getEmail()?.errors?.['email']">
                    Bitte geben Sie ein korrektes E-Mail-Format ein
                </mat-error>
            </mat-form-field>
            <span class="info">Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</span>
            <div class="button-cont">
                <button class="btn" type="submit">Senden</button>
            </div>
        </form>
    </div>
</div>