app-main-chat {
    flex-grow: 1;
}

.main-component {
    display: flex;
    gap: 50px;
    width: 100%;
}

.direct-message {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: white;
    margin-right: 20px;
}