<app-header></app-header>
<div class="main-component">
    <button (click)="toggleImageRotation()" class="toggle-workspace">Workspace-Menü schließen
        <img [class.rotated]="workspaceIsOpen" src="../../../assets/img/icons/togglemenu.svg">
    </button>
    <app-workspace *ngIf="globalVariable.openWorkspace"></app-workspace>
    <app-main-chat *ngIf="globalVariable.openChannelChat"></app-main-chat>
    <app-thread *ngIf="globalVariable.openThread"></app-thread>
    <app-direct-message class="direct-message" *ngIf="globalVariable.openDM"></app-direct-message>
</div>