<div class="user-list">
    <header>
        <span>Mitglieder</span>
        <mat-icon class="material-symbols-outlined close-dialog" (click)="closeDialog()">
            close
        </mat-icon>
    </header>
    <ul [class.scrollable-contacts]="channelUsers.length > 3" class="user-table">
        <li class="user-information" *ngFor="let user of channelUsers">
            <div class="user-image">
                <img [src]="user.avatarUrl || './assets/img/avatar/avatar0.png'">
                <span class="user-status" [class.online]="user.isOnline" [class.offline]="!user.isOnline"></span>
            </div>
            <span>{{user.name}}</span>
        </li>
    </ul>

    <div class="add-user" (click)="addUser()">
        <div class="add-user-icon"></div>
        <span>Mitglieder hinzufügen</span>
    </div>
</div>