<div class="container">
    <img src="./assets/img/logo/logo-main.png" alt="logo">
    <div class="form-container">
        <h1>Passwort zurücksetzten</h1>
        <div class="">
            <form (ngSubmit)="onSubmit($event)" ngNativeValidate #myform>
                <mat-form-field appearance="outline" class="input-full">
                    <mat-label>Neues Passwort</mat-label>
                    <mat-icon matSuffix>lock</mat-icon>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="">
                        Passwort ist erforderlich
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-full">
                    <mat-label>Neues Passwort bestätigen</mat-label>
                    <mat-icon matSuffix>lock</mat-icon>
                    <input matInput type="password" formControlName="confirmPassword">
                    <mat-error *ngIf="">
                        Passwort ist erforderlich
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="">
                    Passwort stimmt nicht überein
                </mat-error>
                <div class="button-cont">
                    <button class="btn" type="submit">Passwort ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>