.form-container {
  background-color: white;
  border-radius: 30px;
  padding: 40px 50px;
  position: relative;
  margin: 0 20px;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-block-end: 0;
  color: #444df2;
  text-align: center;
  padding-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.button-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #444df2;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgba($color: #444df2, $alpha: 0.7);
  }
}

img {
  position: absolute;
  top: 55px;
  left: 55px;
}

@media (max-width: 1000px) {
  img {
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
  }
}

@media (max-width: 550px) {
  .form-container {
    padding: 35px 20px;
    width: 100%;
  }
  form {
    gap: 16px;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 24px;
  }
}
