<div class="container" *ngIf="loginService.currentUser$ | async as user">
    <div class="header">
        <div class="selected-user" (click)="openProfile()">
            <img [src]="userService.selectedUser.avatarUrl" alt="Avatar von {{ userService.selectedUser.name }}">
            {{ userService.selectedUser.name }}
            <span *ngIf="user?.uid === userService.selectedUser.uid">(Du)</span>
        </div>
    </div>
    <div class="chat-field" #scrollContainer>
        <emoji-mart class="emoji-picker" *ngIf="emojiPicker" (emojiClick)="addEmoji($event)"></emoji-mart>
        <emoji-mart class="emoji-picker" *ngIf="emojiPickerReaction" (emojiClick)="addReaction($event)">
        </emoji-mart>
        <div class="info-cont">
            <div class="info">
                <img [src]="userService.selectedUser.avatarUrl" alt="Avatar von {{ userService.selectedUser.name }}"
                    class="user-avatar">
                <span *ngIf="userService.selectedUser.name !== loginService.currentUser.name">
                    Diese Unterhaltung findet nur zwischen
                    <span class="profil" (click)="openProfile()">@{{ userService.selectedUser.name}}</span>
                    und dir statt.
                </span>
                <span *ngIf="userService.selectedUser.name == loginService.currentUser.name">
                    <span style="font-weight: bold;">Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste
                    deine To-dos auf oder bewahre Links
                    griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.
                </span>
            </div>
        </div>
        <div class="messages-cont" *ngFor="let message of dmService.messages">
            <div class="message" [class.sender-message]="message.senderId === loginService.currentUser.uid">
                <div class="message-date-cont">
                    <div class="seperator-message"></div><span class="message-date">{{message.sentDate}}</span>
                </div>
                <div class="message-info">
                    <img [src]="message.avatarUrl" class="user-avatar">
                    <div class="message-text-cont">
                        <div class="message-name-cont"><span class="message-name">{{message.name}}</span> <span
                                class="message-time">{{message.sentTime}} Uhr</span></div>
                        <div class="message-text">
                            <span >{{message.text}}</span>
                            <div *ngIf="message.mediaUrl" class="media-message"
                                [class.media-message-current-user]="message.senderId == loginService.currentUser.uid">
                                <span class="file-name">{{ message.fileName }}</span><br>
                                <a href="{{ message.mediaUrl }}" target="_blank">Datei ansehen</a>
                                <span *ngIf="message.text" class="message-text">{{ message.text }}</span>
                            </div>
                        </div>
                        <div class="reaction-cont">
                            <mat-icon class="add-reaction-icon"
                                (click)="toggleEmojiPickerReaction(message.messageId)">add_reaction
                            </mat-icon>
                            <div *ngIf="message.reaction !== null" class="reaction">{{message.reaction}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-box">
        <form (ngSubmit)="sendMessage()">
            <textarea type="text" [(ngModel)]="messageText" name="messageText"
                placeholder="Nachricht an {{userService.selectedUser.name}}"></textarea>
            <input type="file" #fileInput style="display: none" (change)="handleFileInput($event.target.files)">
            <div class="icons">
                <div class="icons-left">
                    <mat-icon (click)="triggerFileUpload()">add</mat-icon>
                    <div class="seperator"></div>
                    <mat-icon (click)="toggleEmojiPicker()">sentiment_satisfied</mat-icon>
                </div>
                <button type="submit"><mat-icon class="send-icon">send</mat-icon></button>
            </div>
        </form>
    </div>
</div>