<div class="container" *ngIf="loginService.currentUser$ | async as user">
    <div class="header" (click)="show()">
        <div class="selected-user">
            <img [src]="this.userService.selectedUser.avatarUrl"
                alt="Avatar von {{ this.userService.selectedUser.name }}" class="user-avatar">
            {{ this.userService.selectedUser.name }}
            <span *ngIf="user?.uid === this.userService.selectedUser.uid">(Du)</span>
        </div>
    </div>

    <div class="chat-field">

    </div>

    <div class="input-box">

    </div>
</div>