@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@import "../../assets/fonts/nunito.css";

.main-chat {
  background-color: #fff;
  border-radius: 30px;
  flex-grow: 1;
  padding: 25px 45px;
  position: relative;
  height: 82vh;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 100px;
  transition: 100ms all ease-in;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  &:hover {
    background-color: #eceefe;
    color: #535af1;
    transition: 100ms all ease-in;

    .tag-image {
      background-image: url("../../assets/img/icons/tag_purple.svg");
      transition: 100ms all ease-in;
    }

    .arrow-down-image {
      background-image: url("../../assets/img/icons/arrow-down-purple.png");
      transition: 100ms all ease-in;
    }
  }
}

.tag-image {
  background-image: url("../../assets/img/icons/tag.svg");
  background-position: center;
  width: 32px;
  height: 33px;
  background-repeat: no-repeat;
}

.arrow-down-image {
  background-image: url("../../assets/img/icons/arrow-down.png");
  background-position: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-area {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: 100ms all ease-in;

  span {
    font-size: 20px;
    font-weight: 600;
  }

  &:hover {
    background-color: #eceefe;
    color: #535af1;
    transition: 100ms all ease-in;
  }

  @media (max-width: 560px) {
    display: none;
  }
}

.images {
  display: flex;

  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
    margin-left: -10px;
  }
}

.add-user-image {
  background-image: url("../../assets/img/icons/add_user.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  transition: 100ms all ease-in;
  padding: 8px;

  &:hover {
    background-image: url("../../assets/img/icons/add_user_purple.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transition: 100ms all ease-in;
    background-color: #eceefe;
  }
}

.message-box {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  height: 120px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    border-color: #797ef3;
  }
}

textarea {
  width: 100%;
  height: 72px;
  border: none;
  outline: none;
  resize: none;
  background-color: #fff;
  font-family: "Nunito" !important;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
}

.icons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-elements {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #686868;
  mat-icon {
    padding: 5px;
    &:hover {
      color: #444df2;
      background-color: #eceefe;
      border-radius: 20px;
    }
  }
}

.seperator {
  height: 34px;
  width: 1px;
  background-color: #ADB0D9;
  border-radius: 1px;
}

.border {
  border: 1px solid #adb0d9;
  height: 40px;
}

.send-button {
  color: #444df2;
  transition: 125ms all ease-in;

  &:hover {
    opacity: 0.7;
    transition: 125ms all ease-out;
  }
}

.chat-cont {
  overflow-y: scroll;
  padding: 15px 15px;
  height: 50%;
}

.emoji-picker {
  position: absolute;
  right: 45px;
  bottom: 211px;
  z-index: 3;
}

.emoji-picker-currentUser {
  right: 0;
}

.chat-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.info {
  p {
    font-size: 24px;
    font-weight: 700;
  }

  span {
    font-size: 20px;
  }
}

.channel-name-purple {
  color: #535af1;
}

.messages-cont {
  padding: 15px 0;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.message-date-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.seperator-message {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #adb0d9;
  top: 50%;
  z-index: 1;
}

.message-date {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  z-index: 2;
  background-color: white;
}

.message-info {
  display: flex;
  gap: 30px;

  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
  }
}

.message-info-currentuser {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;

  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
  }
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.message-text-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-text-cont-currentuser {
  align-items: flex-end;
}

.message-name-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.message-name-cont-currentuser {
  flex-direction: row-reverse;
}

.message-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.message-time {
  color: #686868;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.message-text {
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
  background: #eceefe;
}

.thread {
  color: #535af1;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    font-weight: 700;
  }
}

.message-text-currentuser {
  background-color: #797ef3;
  color: #fff;
  border-radius: 30px 0 30px 30px;
}

.reaction-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reaction-cont-currentuser {
  justify-content: flex-end;
}

.add-reaction-icon {
  padding: 5px;
  color: #686868;
  cursor: pointer;

  &:hover {
    color: #444df2;
    background-color: #eceefe;
    border-radius: 20px;
  }
}

.reaction {
  padding: 3px 3px;
  border-radius: 50%;
  border: 1px solid #adb0d9;
  background-color: #eceefe;
  font-size: 16px;
  width: fit-content;
  cursor: default;
}

.reaction-list {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 148px;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .main-chat {
    border-radius: unset;
    height: unset;
    width: unset;
    margin: 0;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 560px) {
    .main-chat {
      padding: 10px 16px;
      top: 70px;
    }

    .header-left {
      span {
        font-size: 20px;
      }

      .tag-image {
        background-image: url("../../assets/img/icons/tag-resp.svg");
      }
    }

    .info {
      p {
        font-size: 20px;
      }

      span {
        font-size: 18px;
      }
    }

    .thread {
      font-size: 16px;
    }

    .emoji-picker {
      right: 16px;
      bottom: 196px;
    }
  }
}

.media-message {
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
  background: #eceefe;

  a {
    text-decoration: none;
  }
}

.media-message-current-user {
  background-color: #797ef3;
  color: #fff;
  border-radius: 30px 0 30px 30px;

  a {
    color: #fff;
    text-decoration: none;
  }
}