<div class="main-chat">
    <header>
        <div class="header-left">
            <div class="tag-image"></div>
            <span>Entwicklerteam</span>
            <div class="arrow-down-image"></div>
        </div>

        <div class="header-right">
            <div class="member-area" (click)="openUserListDialog()">
                <div class="images">
                    <img src="assets/img/avatar/avatar1.png">
                    <img src="assets/img/avatar/avatar2.png">
                    <img src="assets/img/avatar/avatar3.png">
                </div>
                <span>3</span>
            </div>
            <div class="add-user-image" (click)="openAddUserDialog()"></div>
        </div>
    </header>
</div>