<div class="main-chat" *ngIf="channelService.selectedChannel">
    <header>
        <div class="header-left" (click)="openChannelDialog(channel)">
            <div class="tag-image"></div>
            <span>{{channelService.selectedChannel.channelName}}</span>
            <div class="arrow-down-image"></div>
        </div>

        <div class="header-right">

            <div class="member-area" *ngIf="channelService.selectedChannel?.users" (click)="openUserListDialog()">
                <div class="images">
                    <img *ngFor="let user of channelService.selectedChannel.users | slice:0:3" [src]="user.avatarUrl"
                        [alt]="user.name">
                </div>
                <span>{{ selectedChannel.users.length }}</span>
            </div>


            <div class="add-user-image" (click)="openAddUserDialog()"></div>
        </div>
    </header>

    <div class="chat-field">
        <div class="info">
            <p># {{channelService.selectedChannel.channelName}}</p>
            <span>Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <span
                    class="channel-name-purple"># {{channelService.selectedChannel.channelName}}</span> </span>
        </div>
    </div>

    <div class="messages-cont" #scrollContainer>
        <div class="message" *ngFor="let message of this.messages">
            <div class="message-date-cont">
                <div class="seperator-message"></div><span class="message-date">{{message.sentDate}}</span>
            </div>
            <div class="message-info">
                <img [src]="message.avatarUrl" class="user-avatar">
                <div class="message-text-cont">
                    <div class="message-name-cont"><span class="message-name">{{message.name}}</span> <span
                            class="message-time">{{message.sentTime}} Uhr</span></div>
                    <span class="message-text">{{message.text}}</span>
                    <div class="reaction-cont">
                        <mat-icon class="add-reaction-icon"
                            (click)="toggleEmojiPickerReaction(message.messageId)">add_reaction
                        </mat-icon>
                        <div *ngIf="message.reaction !== null" class="reaction">{{message.reaction}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="message-box">
        <textarea placeholder="Nachricht an #{{channelService.selectedChannel.channelName}}" [(ngModel)]="messageText"
            name="messageText"></textarea>
        <div class="icons-box">
            <div class="add-elements">
                <mat-icon>sentiment_satisfied</mat-icon>
            </div>
            <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
        </div>
    </form>
</div>