<div class="main-chat" *ngIf="channelService.selectedChannel">
    <header>
        <div class="header-left" (click)="openChannelDialog(channel)">
            <div class="tag-image"></div>
            <span>{{channelService.selectedChannel.channelName}}</span>
            <div class="arrow-down-image"></div>
        </div>
        <div class="header-right">
            <div class="member-area" *ngIf="channelService.selectedChannel?.users" (click)="openUserListDialog()">
                <div class="images">
                    <img *ngFor="let user of channelService.selectedChannel.users | slice:0:3" [src]="user.avatarUrl"
                        [alt]="user.name" (click)="setSelectedUser(user.uid)">
                </div>
                <span>{{ selectedChannel.users.length }}</span>
            </div>
            <div class="add-user-image" (click)="openAddUserDialog()"></div>
        </div>
    </header>

    <div class="chat-cont" #scrollContainer>
        <emoji-mart class="emoji-picker" *ngIf="emojiPicker" (emojiClick)="addEmoji($event)"></emoji-mart>
        <emoji-mart class="emoji-picker" *ngIf="emojiPickerReaction" (emojiClick)="addReaction($event)">
        </emoji-mart>
        <div class="chat-field">
            <div class="info">
                <p># {{channelService.selectedChannel.channelName}}</p>
                <span>{{channelService.selectedChannel.channelCreatedBy}} hat diesen Channel am
                    {{channelService.selectedChannelDate}} erstellt. Das ist der Anfang des Channels <span
                        class="channel-name-purple"># {{channelService.selectedChannel.channelName}}</span> </span>
            </div>
        </div>
        <div class="messages-cont">
            <div class="message" *ngFor="let message of this.messages">
                <div class="message-date-cont">
                    <div class="seperator-message"></div><span class="message-date">{{message.sentDate}}</span>
                </div>
                <div class="message-info"
                    [class.message-info-currentuser]="message.senderId == loginService.currentUser.uid">
                    <img [src]="message.avatarUrl" class="user-avatar">
                    <div class="message-text-cont"
                        [class.message-text-cont-currentuser]="message.senderId == loginService.currentUser.uid">
                        <div class="message-name-cont"
                            [class.message-name-cont-currentuser]="message.senderId == loginService.currentUser.uid">
                            <span class="message-name">{{message.name}}</span> <span class="message-time">{{
                                formatMessageTime(message.sentTime) }} Uhr</span>
                        </div>
                        <span class="message-text"
                            [class.message-text-currentuser]="message.senderId == loginService.currentUser.uid">{{message.text}}</span>
                        <div class="thread" (click)="startThread(message.id)">Antworten</div>
                        <div class="reaction-cont"
                            [class.reaction-cont-currentuser]="message.senderId == loginService.currentUser.uid">
                            <mat-icon class="add-reaction-icon"
                                (click)="toggleEmojiPickerReaction(message.id)">add_reaction
                            </mat-icon>
                            <div *ngIf="message.reaction !== null" class="reaction-list">
                                <div *ngFor="let reaction of message.reaction">
                                    <div class="reaction">{{reaction}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="message-box">
        <textarea placeholder="Nachricht an #{{channelService.selectedChannel.channelName}}" [(ngModel)]="messageText"
            name="messageText"></textarea>
        <div class="icons-box">
            <div class="add-elements">
                <mat-icon (click)="toggleEmojiPicker()">sentiment_satisfied</mat-icon>
            </div>
            <mat-icon class="send-button" (click)="sendMessage()">send</mat-icon>
        </div>
    </form>
</div>