<div class="container">
    <div class="header">
        <h3>Neue Nachricht</h3>
        <div class="searchbar">
            <app-search-bar [inputHeight]="'20px'" [inputFontSize]="'16px'" [items$]="items$" [placeholder]="'An: #channel, @jemand oder E-Mail-Adresse'"
                [isNewMessageContext]="true"
                (userSelected)="onUserSelected($event)">
            </app-search-bar>
        </div>
    </div>

    <div class="chat-field">
    </div>
    <div class="input-box">
        <form>
            <span>Starte eine neue Nachricht</span>
            <div class="icons">
                <mat-icon class="send-icon">send</mat-icon>
            </div>
        </form>
    </div>
</div>