//@import '../direct-message/direct-message.component.scss'
@import "../../assets/fonts/nunito.css";
@import "../search-bar/search-bar.component.scss";

.container {
  background-color: #fff;
  border-radius: 30px;
  flex-grow: 1;
  //padding: 25px 45px;
  position: relative;
  height: 87vh;
  width: calc(100vw - 426px);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
border-top-right-radius: 30px;
border-top-left-radius: 30px;
box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 45px 0 20px 45px;
  }

  .searchbar {
    border: 1px solid #ADB0D9;
    border-radius: 42px;
    margin: 12px;
    

    @media(max-width: 1000px) {
      border: none;
    }
  }
}

.chat-field {
display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 45px;
  overflow-y: scroll;
  height: 56%;
}

.input-box {
margin: 0 45px 30px 45px;
border-radius: 20px;
border: 1px solid #adb0d9;
padding: 20px;
}

.icons {
display: flex;
align-items: center;
justify-content: flex-end;
}
