//@import '../direct-message/direct-message.component.scss'
@import "../../assets/fonts/nunito.css";
@import "../search-bar/search-bar.component.scss";

.container {
  background-color: #fff;
  border-radius: 30px;
  flex-grow: 1;
  position: relative;
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1000px) {
    height: unset;
    border-radius: unset;
  }
}

.header {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.08);

  h3 {
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 700;
    margin: 45px 0 20px 20px;
  }

  .searchbar {
    border: 1px solid #adb0d9;
    border-radius: 42px;
    margin: 12px;

    @media (max-width: 1000px) {
      border: none;
    }
  }
}

.chat-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 45px;
  overflow-y: scroll;
  height: 56%;
}

.input-box {
  margin: 0 45px 30px 45px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  padding: 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @function textShadow($precision, $size, $color) {
    $value: null;
    $offset: 0;
    $length: calc($size * (1 / $precision) - 1);
    
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
    @return $value;
  }
  .playful span {
    position: relative;
    color: #adb0d9;
    text-shadow: textShadow(0.25, 6, #444df2);
    animation: scatter 1.75s infinite;
  }
  .playful span:nth-child(2n) {
    color: #adb0d9;
    text-shadow: textShadow(0.25, 6, #444df2);
    animation-delay: 0.3s;
  }
  .playful span:nth-child(3n) {
    color: #adb0d9;
    text-shadow: textShadow(0.25, 6, #444df2);
    animation-delay: 0.15s;
  }
  .playful span:nth-child(5n) {
    color: #adb0d9;
    text-shadow: textShadow(0.25, 6, #444df2);
    animation-delay: 0.4s;
  }
  .playful span:nth-child(7n),
  .playful span:nth-child(11n) {
    color: #adb0d9;
    text-shadow: textShadow(0.25, 6, #444df2);
    animation-delay: 0.25s;
  }
  @keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
  }
  h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    text-align: center;
    margin: 10rem auto;
  }
  @media (max-width: 560px) {
      display: none;
  }
}
