.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 480px;
  padding: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #444df2;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.text {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 40px;
}

.forgot-password {
  color: #797ef3;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 16px;
  margin-top: 10px;
  &:hover {
    color: #444df2;
    background-color: rgba($color: #797ef3, $alpha: 0.2);
  }
}

.text-cont {
  display: flex;
  justify-content: center;
}

.seperator-cont {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 0 16px;
  }
}

.seperator {
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.login-btn {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #444df2;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgba($color: #444df2, $alpha: 0.7);
  }
}

.guest-btn {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: white;
  color: #444df2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: 1px solid #444df2;
  &:hover {
    background-color: #444df2;
    color: white;
  }
}

.button-cont {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.google-button {
  background: #eceefe;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 11px 32px;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid #444df2;
    span {
      font-weight: bold;
    }
  }
  img {
    height: 38px;
    width: 38px;
  }
  span {
    color: #444df2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

@media (max-width: 700px) {
  .form-container {
    padding: 35px 20px;
    width: 400px;
  }
}

@media (max-width: 550px) {
  .form-container {
    padding: 30px;
    width: unset;
  }
  form {
    gap: 0;
  }
  .button-cont {
    gap: 30px;
  }
  h1 {
    font-size: 32px;
  }
  .text {
    font-size: 17px;
    padding-bottom: 20px;
  }
  .google-button {
    padding: 6px 22px;
    img {
      height: 32px;
      width: 32px;
    }
    span {
      font-size: 16px;
    }
  }

}

@media (max-width: 414px) {
  .google-button {
    span {
      font-size: 14px;
    }
  }
  .login-btn {
    padding: 6px 22px;
    font-size: 15px;
    }
  .guest-btn {
    padding: 6px 22px;
    font-size: 15px;
  }
}
