.login-container {
  min-height: 100vh;
  width: 100vw;
  width: 100%;
  background-image: linear-gradient(#797ef3, #313ae5);
  position: relative;
  animation: changeBackgroundColor 8s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.forms {
  padding: 110px 0;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: initial;
  }
  100% {
    background-color: #eceefe;
    background-image: none;
  }
}

.login-form {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.5s ease-in-out 2200ms forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.sign-up-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 55px;
  right: 75px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.5s ease-in-out 2200ms forwards;
}

.open-sign-up-form {
  color: #797ef3;
  cursor: pointer;
  padding: 10px 15px;
  border: solid 1px transparent;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    border: solid 1px #797ef3;
  }
}

@media (max-width: 1400px) {
  .sign-up-text {
    top: unset;
    bottom: 10px;
    right: 50%;
    transform:translate(50%);
    margin: auto;
  }
}

@media(max-width: 550px) {
  .forms {
  padding: 110px 24px 160px 24px;
  }
  .sign-up-text {
    bottom: 30px;
  }
}

@media(max-width: 370px) {
  .forms {
  padding: 110px 5px 160px 5px;
  }
}

