@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@import "./assets/fonts/nunito.css";

body {
    margin: 0;
    font-family: 'Nunito' !important;
    background-color: #ECEEFE !important;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-thumb {
    background: #535AF1;
    border-radius: 12px;
  }