@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@import "./assets/fonts/nunito.css";

body {
    margin: 0;
    font-family: 'Nunito' !important;
    background-color: #ECEEFE !important;
}

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-thumb {
    background: #535AF1;
    border-radius: 12px;
  }

  .user-status {
  position: relative;
  top: 20px;
  right: 30px;
  border: solid 2px #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 5px;
}

.online {
  background-color: #92c83e;
}

.offline {
  background-color: #686868;
}