.container {
  height: 82vh;
  width: calc(30vw - 60px);
  background-color: #fff;
  padding: 25px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-left: -20px;
  @media (max-width: 1510px) {
    width: 385px;
  }
  @media (max-width: 1410px) {
    width: 278px;
  }
  @media (max-width: 1300px) {
    z-index: 22;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    height: unset;
    width: unset;
    margin: unset;
    border-radius: unset;
  }
  @media (max-width: 570px) {
    top: 70px;
  }
}

header {
  display: flex;
  justify-content: space-between;

  mat-icon {
    cursor: pointer;
  }
}

.header-text {
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  p {
    color: #797ef3;
    margin: 0;
  }
}

.chat {
  display: flex;
  gap: 20px;
  height: 100px;
  position: relative;
  align-items: center;
  padding-bottom: 16px;
  img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .username {
    font-size: 18px;
    font-weight: 700;
  }
}

.user-name-time {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #adb0d9;
}

.messages-container {
  overflow-y: scroll;
  height: 50%;
  scroll-behavior: smooth;
  padding: 15px 15px;
}

.message {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.message-current-user {
  flex-direction: row-reverse;
}

.emoji-picker {
  position: absolute;
  right: 26px;
  bottom: 211px;
  z-index: 3;
}

.message-img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.message-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-sender {
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    font-size: 18px;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #686868;
  }
}

.message-sender-current-user {
  flex-direction: row-reverse;
}

.message-text {
  border-radius: 0px 20px 20px 20px;
  padding: 10px;
  background-color: #eceefe;
  width: fit-content;
  span {
    font-size: 18px;
  }
}

.message-text-current-user {
  background-color: #797ef3;
  color: #fff;
  border-radius: 20px 0 20px 20px;
  align-self: end;
}

.media-message {
  border-radius: 0px 20px 20px 20px;
  padding: 10px;
  background-color: #eceefe;
  width: fit-content;
  align-self: end;
  span {
    font-size: 16px;
    
  }
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
}

.media-message-current-user {
  background-color: #797ef3;
  color: #fff;
  border-radius: 20px 0 20px 20px;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  span {
    font-size: 16px;
  }
}

.reaction-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reaction-cont-current-user {
  justify-content: end;
  flex-direction: row-reverse;
}

.add-reaction-icon {
  padding: 5px;
  color: #686868;
  cursor: pointer;

  &:hover {
    color: #444df2;
    background-color: #eceefe;
    border-radius: 20px;
  }
}

.reaction {
  padding: 3px 3px;
  border-radius: 50%;
  border: 1px solid #adb0d9;
  background-color: #eceefe;
  font-size: 16px;
  width: fit-content;
  cursor: default;
}

.message-box {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  height: 145px;
  padding: 20px;
  cursor: pointer;

  &:hover {
    border-color: #797ef3;
  }
}

textarea {
  width: 100%;
  height: 50%;
  border: none;
  outline: none;
  resize: none;
  background-color: #fff;
  font-family: "Nunito" !important;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
}

.icons-box {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  mat-icon {
    color: black;
    transition: 125ms all ease-in;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #535af1;
      transition: 125ms all ease-out;
      background-color: #eceefe;
    }
  }
}

.send-button {
  color: #444df2;
  transition: 125ms all ease-in;

  &:hover {
    opacity: 0.7;
    transition: 125ms all ease-out;
  }
}

.message-info-thread {
  width: fit-content;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px;
  border-radius: 0px 30px 30px 30px;
  background: #eceefe;
  color: black;
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.message-info-currentuser {
  background-color: #797ef3;
  color: #fff;
  border-radius: 30px 0 30px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
