<div class="container">
    <header>
        <div class="header-text">
            <span>Thread</span>
            <p># Entwicklerteam</p>
        </div>
        <mat-icon>close</mat-icon>
    </header>

    <div class="chat">
        <img [src]="selectedUser.avatarUrl">
        <div class="user-info">
            <div class="user-name-time">
                <span>{{selectedUser.name}}</span>
                <p>{{formatTime(selectedUser.sentTime)}} Uhr</p>
            </div>
            <div class="user-message">
                <span>{{selectedUser.text}}</span>
            </div>
        </div>
        <div class="line"></div>
    </div>

    <div class="messages-container">
        <!-- Anzeigen der Nachrichten aus ThreadService.messages -->
        <div *ngFor="let message of threadService.messages" class="message">
            <div class="message-sender">{{ message.name }}</div>
            <div class="message-text">{{ message.text }}</div>
            <img [src]="message.avatarUrl">
          </div>
    
        <input type="text" [(ngModel)]="message" placeholder="Nachricht eingeben">
        <button type="submit" (click)="sendMessage()">Senden</button>

</div>