.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 32px;
}

h1 {
  color: #444df2;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-block-end: 32px;
  cursor: default;
}

span {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
  cursor: default;
}

.image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 32px;
}

.avatar {
  border-radius: 100%;
  img {
    height: 56px;
    border-radius: 100%;
    border: 3px solid transparent;
    &:hover {
      cursor: pointer;
      border: 3px solid #444df2;
    }
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sign-up-btn {
  padding: 12px 25px;
  border-radius: 25px;
  background-color: #444df2;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgba($color: #444df2, $alpha: 0.7);
  }
}

@media(max-width: 520px) {
  .image {
    height: 120px;
    width: 120px;
  }

  h1 {
    font-size: 24px;
  }
span {
  font-size: 18px;
}
.avatar{
  img {
    height: 40px;
  }
}
.avatar-cont {
  gap: 2px;
}
}